.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 100%;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    background-color: black;
}

.sidebar img{
    margin: 5px;
    cursor: pointer;
    width: 70%;
}

.sidebar p{
    color: white;
    transform: rotate(-90deg);
    margin-top: 100px;
    align-self: flex-end;
    font-size: 10px;
}